apiVersion: apps/v1
kind: Deployment
metadata:
  name: productapi
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productapi
  template:
    metadata:
      labels:
        app: productapi
    spec:
      containers:
      - name: productapi
        image: henrikkyhl/productapi:latest
---
apiVersion: v1
kind: Service
metadata:
  name: productapi
  namespace: default
spec:
  type: NodePort
  selector:
    app: productapi
  ports:
  - port: 80
    nodePort: 31001